
.search-box__form {
    display: flex;
}

.search-box__form-label {
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
}

.search-box__form-input {
    box-sizing: border-box;
    display: block;
    margin-top: 5px;
    width: 350px;
    font-size: 18px;
    padding: 10px 15px;
    border: 1px solid rgba(0, 8, 7, .5);
    border-radius: 8px;
    outline: none;
}

.search-box__form-submit {
    margin-top: 17px;
    padding: 10px 15px;
    border: none;
    transition: all 0.2s linear;
    color: #FFEEDB;
    background-color: rgb(7, 34, 68);
    border-radius: 7px;
    font-size: 15px;
}

.search-box__form-submit:hover:not(:disabled) {
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.2s linear;
    background-color: #3f25e6;
    color: rgba(0, 8, 7);
}

.search-box__form-submit:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}